/* Shopping Cart Section */

.cart-column {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  margin-right: 1.5em;
  padding-bottom: 10px;
  margin-top: 10px;
}

.cart-row {
  display: flex;
  justify-content: center;
}

.cart-item {
  width: 30%;
}

.cart-price {
  width: 10%;
  font-size: 1.2em;
  color: #333;
}

.cart-quantity {
  width: 10%;
}

.cart-item-name {
  color: #333;
  margin-left: .5em;
  font-size: 1.2em;
}

.cart-item-image {
  width: 75px;
  height: auto;
  border-radius: 10px;
}

.cart-quantity-input {
  height: 34px;
  width: 50px;
  border-radius: 5px;
  border: 1px solid #56CCF2;
  background-color: #eee;
  color: #333;
  padding: 0;
  text-align: end;
  font-size: 1.2em;
  margin-right: 25px;
}

.cart-row:last-child .cart-column {
  border: none;
}

.cart-total {
  text-align: end;
  margin-top: 10px;
  margin-right: 10px;
}

.cart-total-title {
  font-weight: bold;
  font-size: 1.5em;
  color: black;
  margin-right: 20px;
}

.cart-total-price {
  color: #333;
  font-size: 1.1em;
  padding-right: 25%;
}

.btn-purchase {
  display: block;
  margin: 40px auto 80px auto;
}