/* forms.css */

form {
    max-width: 1000px;
    margin: 50px auto;
    padding: 30px;
    background-color: #f9f9f9; 
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form h2 {
    font-size: 2rem;
    color: #346F68; 
    margin-bottom: 20px;
}

form h3 {
    font-size: 1.5rem;
    color: #346F68; 
    margin-top: 30px;
}

form label {
    display: block;
    margin-bottom: 5px;
    color: #3D4B52;
}

form input[type="text"],
form input[type="email"] {
    width: calc(100% - 12px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form input[type="text"]:focus,
form input[type="email"]:focus {
    outline: none;
    border-color: #346F68; 
}

form input[type="submit"] {
    width: 100%;
    background-color: #346F68; 
    color: #fff; 
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form input[type="submit"]:hover {
    background-color: #ED6E90; 
}

form label {
    display: block;
    margin-bottom: 5px;
    color: #3D4B52; /* darkgrey */
}

/* Textarea */
form textarea {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical; /* Allow vertical resizing */
}

form textarea:focus {
    outline: none;
    border-color: #346F68; /* darkcyan */
}

.search [list]::-webkit-list-button,
.search [list]::-webkit-calendar-picker-indicator {
    display: none !important;
}

.popup-message {
    position: fixed; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    padding: 20px;
    background-color: #f0f0f0; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    display: none; 
    z-index: 10; 
  }
  
  .popup-message.show {
    display: block; 
  }
